/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


html {
  overflow-y: scroll;
}


body {
	background: #626462 url(../images/photo3.jpg) fixed;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px;
}

body > .container {
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nojs {
  display: none;
}

.navbar-form {
  input {
    width: 110px;
  }
}

.hero-unit {
  padding: 20px 60px 30px;
  h1 {
    margin-bottom: 5px;
  }
}
.carousel-control {
  top: 47%;
}
.carousel-inner {
  .item {
    margin: 0 20px;
  }
}

h1 {
  margin-bottom: 30px;
}

.projects {
  h2 {
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
  }
  img {
    margin-bottom: 20px;
  }
  .description {
    height: 60px;
    overflow: hidden;
  }
  .topbutton {
    margin-top: 30px;
  }
  .span2 {
    /*width: 166px !important;*/
  }
}

.frontprojects {
  ul {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    margin: 0;
  }
}

.gallery {
  img {
    height: 60px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.footer {
  font-size: 12px;
  font-style: italic;
}

.connect {
  a {
    width: 64px; height: 64px;
    display: inline-block;
    text-indent: -9999px;
  }
  .facebook {
    background: url(../images/social_media/facebook.png) no-repeat;
  }
  .twitter {
    background: url(../images/social_media/twitter.png) no-repeat;
  }
  .youtube {
    background: url(../images/social_media/youtube.png) no-repeat;
  }
}

.dropdown-backdrop {
  position: static;
}

@media (min-width: 585px) and (max-width: 767px) {
  .frontevents ul{
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    margin: 0;
  }
}


@media (max-width: 979px) {
  body {
    padding-top: 0;
    padding-bottom: 20px;
  }
  #myCarousel {
    display: none;
  }
}


/**
  * Always show submenu on hover, instead of click. 
  */  
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

