
<!DOCTYPE html>
<html lang="en" ng-app="hsbxl">
  <head>
    <meta charset="utf-8">
    <title>Hackerspace Brussels | HSBXL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/screen.css" rel="stylesheet">
    <noscript><style> 
      .jsonly { display: none }
      .nojs { display: block;}
      .dropdown:hover .dropdown-menu { display: block; top: 90%; }
    </style></noscript>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">HSBXL</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="what-is-hackerspace.html">What is a hackerspace?</a></li>
                  <li><a href="index.html">Meetings and events</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Membership</li>
                  <li><a href="member-benefits.html">Member benefits</a></li>
                  <li><a href="become-member.html">Become a member</a></li>
                </ul>
              </li>

              <!--.
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="projects.html">Projects</a></li>
                  <li><a href="projects-archived.html">Projects archive</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Your project</li>
                  <li><a href="projects-start-your-own.html">Start your own project</a></li>
                </ul>
              </li>
              -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wiki <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://hackerspace.be/Hackerspace_Brussels">Wiki HSBXL</a></li>
                  <li><a href="https://hackerspace.be/Become_a_member">Create wiki user account</a></li>
                  <li><a href="https://hackerspace.be/Special:RecentChanges">Latest wiki updates</a></li>
                </ul>
              </li>

              <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="events.html">Upcoming events</a></li>
                  <li><a href="events-past.html">Past events</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Use the space</li>
                  <li><a href="https://hackerspace.be/Contact">Get in touch</a></li>
                </ul>
              </li>
              -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://hackerspace.be/Contact">Get in touch</a></li>
                  <li><a href="https://hackerspace.be/Mailing-list">Discussion mailing list</a></li>
                  <li><a href="https://hackerspace.be/Hsb-in-the-media">Media</a></li>
                </ul>
              </li>

              <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donate <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="donate-material.html">Material</a></li>
                  <li><a href="donate-financial.html">Financial</a></li>
                </ul>
              </li>
              -->

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="hero-unit">
          <div class="carousel-inner">
            <div class="active item">
              <h1>Learn. Do. Share.</h1>
              <p>Hackerspace Brussels (HSBXL) is a space, dedicated to various aspects of constructive & creative hacking. The space is about 300 square meters, there is a little electronics lab with over 9000 components, a library, and lots of tools. You're always welcome to follow one of the workshops or come to the weekly Tuesday meetings, hack nights or other get-together events.</p>
              <p><a href="what-is-hackerspace.html" class="btn btn-primary btn-large">What is a hackerspace? &raquo;</a></p>
            </div>
            <!-- <div class="item">
              <h1>Hackerspaces in Belgium</h1>
              <p>Sometimes we forget that we are not alone. Have a look at other hackerspaces in Belgium.</p>
              <p><a href="what-is-hackerspace.html" class="btn btn-primary btn-large">What is a hackerspace? &raquo;</a></p>
            </div>-->
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4 frontevents" ng-controller="EventsCtrl">
          <h2>Upcoming Events</h2>
          <ul>
            <li class="jsonly event" ng-repeat="event in events | orderObjectBy:'start' ">
              <span class="eventDate"><strong>{{event.printouts['Start date'][0]}}: </strong></span>
              <a class="value" href="{{event.fullurl}}">{{event.fulltext}}</a>
            </li>
          </ul>
          <p class="nojs">You don't have javascript enabled.</p>
          <p class="nojs"><a class="btn btn-primary btn-mini" href="https://hackerspace.be/Hackerspace_Brussels">Goto Wiki &raquo;</a></p>
        </div>
        <div class="span4 frontprojects" ng-controller="ProjectsCtrl">
          <h2>Running Projects</h2>
          <ul>
            <li class="jsonly" ng-repeat="project in projects | orderObjectBy:'fulltext' ">
              <a href="{{project.fullurl}}">{{project.fulltext}}</a>
            </li>
          </ul>
          <p class="nojs">You don't have javascript enabled.</p>
          <p class="nojs"><a class="btn btn-primary btn-mini" href="https://hackerspace.be/Projects">Goto Wiki &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Spacewatch</h2>
          <p>Who is currently connected to our network? Pamela will tell you just that.</p>
          <p><a class="btn btn-primary btn-mini" href="https://hackerspace.be/pam">Pamela &raquo;</a></p>
          <h2>Connect</h2>
          <div class="connect">
            <a class="facebook" href="https://www.facebook.com/groups/hsbxl/">Facebook</a>
            <a class="twitter" href="https://twitter.com/hsbxl">Twitter</a>
            <a class="youtube" href="http://www.youtube.com/channel/UCNDtUaMEL7vldgxs1NyPm4Q">Youtube</a>
          </div>
          <h2>Discussion list</h2>
          <p>Join the conversation on the HSBXL email discussion list.</p>
          <p><a class="btn btn-primary btn-mini" href="https://hackerspace.be/Mailing-list">Subscribe &raquo;</a></p>
        </div>
      </div>

      <hr>

      <div class="footer">Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution 3.0 License.</div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="angular-grid/ng-grid-2.0.7.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <script src="js/hsbxl.js"></script>
    <script src="js/projects.js"></script>
    <script src="js/events.js"></script>

  </body>
</html>
