/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.scss */
html {
  overflow-y: scroll;
}

/* line 12, ../sass/screen.scss */
body {
  background: black url(../images/photo3.jpg) fixed;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* line 19, ../sass/screen.scss */
body > .container {
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 28, ../sass/screen.scss */
.navbar-form input {
  width: 110px;
}

/* line 33, ../sass/screen.scss */
.hero-unit {
  padding: 20px 60px 30px;
}
/* line 35, ../sass/screen.scss */
.hero-unit h1 {
  margin-bottom: 5px;
}

/* line 39, ../sass/screen.scss */
.carousel-control {
  top: 47%;
}

/* line 43, ../sass/screen.scss */
.carousel-inner .item {
  margin: 0 20px;
}

/* line 48, ../sass/screen.scss */
h1 {
  margin-bottom: 30px;
}

/* line 53, ../sass/screen.scss */
.projects h2 {
  font-size: 18px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
/* line 59, ../sass/screen.scss */
.projects img {
  margin-bottom: 20px;
}
/* line 62, ../sass/screen.scss */
.projects .description {
  height: 60px;
  overflow: hidden;
}
/* line 66, ../sass/screen.scss */
.projects .topbutton {
  margin-top: 30px;
}
/* line 69, ../sass/screen.scss */
.projects .span2 {
  /*width: 166px !important;*/
}

/* line 75, ../sass/screen.scss */
.frontprojects ul {
  -moz-column-count: 2;
  /* Firefox */
  -webkit-column-count: 2;
  /* Safari and Chrome */
  column-count: 2;
}

/* line 83, ../sass/screen.scss */
.gallery img {
  height: 60px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* line 91, ../sass/screen.scss */
.footer {
  font-size: 12px;
  font-style: italic;
}

/* line 97, ../sass/screen.scss */
.connect a {
  width: 64px;
  height: 64px;
  display: inline-block;
  text-indent: -9999px;
}
/* line 102, ../sass/screen.scss */
.connect .facebook {
  background: url(../images/social_media/facebook.png) no-repeat;
}
/* line 105, ../sass/screen.scss */
.connect .twitter {
  background: url(../images/social_media/twitter.png) no-repeat;
}
/* line 108, ../sass/screen.scss */
.connect .youtube {
  background: url(../images/social_media/youtube.png) no-repeat;
}

@media (max-width: 600px) {
  /* line 114, ../sass/screen.scss */
  #myCarousel {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 121, ../sass/screen.scss */
  .navbar-form input {
    width: 156px;
  }
}
@media (max-width: 979px) {
  /* line 129, ../sass/screen.scss */
  body {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
